
.filmList{
    width: 100%;
    height: 120px;
   
    margin: 0;
    padding:2 0 2 0;
}
.filmH4{
   
    display: inline;
}
.filmHeadDiv{
    margin: 6px 0 12px 0;
}
.remakr{
    margin: 6px 0 6px 0;
    display: block;
}
.maxIonc{   
    display: inline;
    text-align: center;
    color: #EC1C1C;
    font-size: 10%;
    margin:  0 0 0 0;
    float: right;
}
.filmImageDiv{
  
    width: 18%;
    float: left;
}
.filmImage{
   
    width: 100%;
    height: 100px;
}

.filmText{
    margin:  8px 0 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filmDetail{
    float: right;
    width: 80%;
}
.filmDesc{
    margin:0px 0px 0px 0px;
    height: 100px;
    float: left;;
    width: 70%;

}

.filmDesc p{
    font-size: 9px;
    margin:2 0 2 0;
    color: gray;
}
.filmAction{
    width: 10%;
    float: right;
    height: 100px;
    width: 30%;
    margin: 0px 0px 0px 0px;
}
.filmTags{
    height: 34px;
    margin: 0px 0px 0px 0px;
}
.filmTags img {
    width: 28px;
    height: 32px;
    margin: 0px 0px 0px 6px;
}
.filmBuy{   
    height: 40px;
    color:#DD6262;
    margin: 0px 0px 0px 0px;
}
.fimlActivities{
    height: 30px;
    line-height:16px;  
    text-align: center; 
    font-size: 9px;
    margin: 0px 0px 0px 0px;
    color:#DD6262;
}

.filmBuy p {   
    text-align: center; 
    font-size: 9px;
    height:36px; 
    width: 50px;
    line-height:36px;  
    overflow:hidden;
    /* margin: 0px 10px 0px 10px; */
    /* 居中 start */
    position: relative;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: auto;
    /* 居中 end */

    border:1px solid;   
    border-radius:8px;
    -moz-border-radius:8px; /* Old Firefox */
}